In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
sample_text_df = pd.DataFrame({
    "country": ["United States", "Canada", "Italy", "Sweden", "Japan"],
    "name": ["Sam Smith", "Jessica Agea", "Marco Affronte", "Lars Adaktusson", "Tomomi Abiko"],
})

sample_text_df

         country             name
0  United States        Sam Smith
1         Canada     Jessica Agea
2          Italy   Marco Affronte
3         Sweden  Lars Adaktusson
4          Japan     Tomomi Abiko